<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
        integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
        crossorigin="anonymous" />
</head>
<style>
    .width-300 {
        width: 300px;
    }
   .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    body {
        position: relative;
        margin: 0 auto;
        color: #333333;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;

    }


    .inner {
        background: #ffffff;
        position: relative;
        border-radius: 20px;
        padding: 20px;
        margin: 0px 20px;
        /* height: 40cm; */
    }

    /* .inner-2 {
        height: 100% !important;
    } */

    header {
        padding: 10px 0;
        margin-bottom: 20px;

    }

    #title h2 {
        text-align: center;
        font-size: 32px;
        font-weight: 800;
        padding: 0px 30px;
        max-width: 600px;
        margin: 0px auto;
    }

    .bold {
        font-weight: 700 !important;
    }

    #details {
        margin-bottom: 50px;
    }

    #patient {
        float: left;
    }

    .dob {
        margin-bottom: 5px;
    }

    .gender {
        margin-bottom: 5px;
    }

    .enroll-date {
        margin-bottom: 5px;
    }

    h2.name {
        font-size: 1.4em;
        font-weight: normal;
        margin: 0 0px 10px;
    }

    #center {
        float: right;
        text-align: left;
    }

    .d-name,
    .d-phone {
        margin-bottom: 5px;
    }

    .border-r {
        background-color: #f2f9ff;
        border-radius: 20px;
        padding: 10px 20px;
        margin-bottom: 20px;
        border: 2px solid #dfecfd;
    }

    .month {
        text-transform: uppercase;
        font-weight: 500;
        color: #0087C3;
        padding-bottom: 15px;
        text-align: center;
        font-size: 18px;
        margin: 10px 0px;
    }

    .border-b {
        border-radius: 20px;
        padding: 10px 20px;
        margin-bottom: 20px;
        border: 2px solid #dfecfd;
    }

    tr:last-child .border-b {
        background: #ff0000;
        border: 0 !important;
    }

    .no-records {
        font-weight: 600;
        color: #333;
        text-align: center;
        font-size: 18px;
    }

    .border-top {
        border-top: 2px solid #dfecfd !important;
        margin: 14px 0px 0px;
        padding-top: 15px;
        border: 0px;
    }

    .border-left {
        border-left: 2px solid #dfecfd;
        padding-left: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

    }

    th.th-titel {
        text-transform: uppercase;
        font-weight: 600;
        color: #0087C3;
        padding-bottom: 15px;
        text-align: left;
    }

    .w-60 {
        width: 60%;
    }

    .w-40 {
        width: 40%;
    }

    .w-30 {
        width: 30%;
    }

    .w-10 {
        width: 10%;
    }

    .w-20 {
        width: 20%;
    }

    thead {
        border-bottom: 2px dashed #dfecfd;
    }

    table th,
    table td {
        padding: 4px 0px;
    }

    table th {
        white-space: nowrap;
        font-weight: normal;
    }

    table td {
        text-align: left;
        padding: 8px 0px;
        /* white-space: nowrap; */
    }

    .f-name {
        padding-right: 6px;

    }

    .f-report {
        padding-right: 6px;

    }

    footer {
        color: #333333;
        border-top: 2px solid #dfecfd;
        padding: 0px 20px 0px;
        text-align: center;
        margin-top: 18px;
        /* position: absolute;
        bottom: 28px;
        width: 95%; */
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .float-r {
        float: right;
    }

    span.code {
        background: #0087C3;
        color: #fff;
        padding: 4px 10px;
        margin-right: 10px;
        border-radius: 9px;
    }

    table tr:last-child td {
        padding-bottom: 0px;
    }

    .bgimg-1 {
        background: #0087C3 url(https://dev-vitalsight-common-website.s3-us-west-2.amazonaws.com/share-report-images/bg.jpg);
        height: 100%;
    }

    .bgimg-1 {
        position: relative;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bgimg-1 .inner {
        background: transparent;
        margin: 0px !important;
        padding: 0px !important;
    }


    .bgimg-1 h2 {
        text-align: center;
        font-size: 50px !important;
        font-weight: 800;
        padding: 0px 30px;
        max-width: 650px !important;
        margin: 0px auto;
        color: #ffffff;
    }

    .bgimg-1 main {
        padding-top: 370px;
    }

    .bgimg-1 .month {
        text-transform: uppercase;
        font-weight: 500;
        color: #a4e3ff !important;
        padding-bottom: 15px;
        text-align: center;
        font-size: 30px !important;
        margin: 20px 0px 0px !important;
    }

    .bgimg-1 .inner {
        height: 40cm !important;
        margin: 0px !important;
    }

    .chart {
        background-color: #ffffff;
        margin: 10px 0px;
        text-align: center;
        padding: 10px;
    }
    .border-bottom {
        border-bottom: 1px solid #dfecfd;
    }

    .border-td-top {
        border-top: 1px solid #dfecfd;
    }

    .border-bottom {
        border-bottom: 1px solid #dfecfd;
        padding: 10px 0px !important;
    }

</style>

<body>
    <div id="pageHeader"></div>
    <div id="pageFooter">
        <footer>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td class="" style="width: 33%;white-space: nowrap;">
                        <table cellspacing="0" cellpadding="0" class="w-60">
                            <tr>
                                <td style="white-space: nowrap;">
                                    <div class="f-name"><b><%= dbData.patientDetails.Items[0].attributes.firstName.toUpperCase() %>
                                            <%= dbData.patientDetails.Items[0].attributes.lastName.toUpperCase() %>&nbsp;-&nbsp;</b></div>
                                </td>
                                <td style="white-space: nowrap;">
                                    <div>DOB: <%= dbData.patientDetails.Items[0].attributes.dob %></div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-center w-20"> <img
                            src="<%= footerLogoUrl %>"
                            width="85" height="20">
                    </td>
                    <td class="text-right " style="width: 33%; white-space: nowrap;">
                        <table cellspacing="0" cellpadding="0" class="w-60 float-r">
                            <tr>
                                <td>
                                    <div class="f-report"><b>Report Generated:</b></div>
                                </td>
                                <td>
                                    <div>
                                        <%= dbData.reportGeneratedAt %>
                                    </div>
                                </td>
                            </tr>
                        </table>
        
        
                    </td>
                </tr>
            </table>
        </footer>
    </div>
    <!-- page-2 -->
    <% var i = 1; for (const readingKey in dbData.patientsReadings) { %>
    <%  if(dbData.patientsReadings[readingKey].bp.length || dbData.patientsReadings[readingKey].weight.length || dbData.patientsReadings[readingKey].notes.length || dbData.patientsReadings[readingKey].groupconsultationData.length) { %>
    <div style='page-break-before: always;'></div>
    <div class="wrapper">
        <div class="inner"  >
            <header class="clearfix">
                <div id="title">
                    <h2 class="name">Remote Patient Monitoring Patient Summary Report</h2>
                </div>

            </header>
            <main>
                <% if(i === 1) { %>
                <div id="details" class="clearfix">
                    <div id="patient">
                        <h2 class="name bold"><%= dbData.patientDetails.Items[0].attributes.firstName.toUpperCase() %>
                            <%= dbData.patientDetails.Items[0].attributes.lastName.toUpperCase() %></h2>
                        <div class="dob">DOB: <%= dbData.patientDetails.Items[0].attributes.dob %></div>
                        <div class="gender">Gender: <%= dbData.patientDetails.Items[0].attributes.gender %></div>
                        <div class="enroll-date">Enrollment Date: <%= dbData.patientDetails.Items[0].createdDate %>
                        </div>
                    </div>
                    <div id="center">
                        <h2 class="name bold"><%= dbData.doctorProfile.hospital %></h2>
                        <div class="d-name">Dr. <%= dbData.doctorProfile.name %>,
                            <%= dbData.doctorProfile.qualification %></div>
                        <div class="d-phone"><%= dbData.doctorProfile.phoneNumber %></div>
                    </div>
                </div>
                <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel">Monitoring Activities</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold">Condition(s) Being Monitored:</td>
                                <td class="bold">Vital(s):</td>
                                <td class="bold">Device(s):</td>
                            </tr>
                            <tr>
                                <td class="bold">Measurements:</td>
                                <td class="bold"></td>
                                <td class="bold"></td>
                            </tr>
                            <% if(dbData.patientDetails.Items[0].attributes.icdCode && dbData.patientDetails.Items[0].attributes.icdCode.length && dbData.patientDetails.Items[0].attributes.icdCode.length < 2) { %>
                            <tr>
                                <td><%= dbData.patientDetails.Items[0].attributes.icdCode[0].code %>,
                                    <%= dbData.patientDetails.Items[0].attributes.icdCode[0].description %></td>
                                <td>Blood Pressure</td>
                                <td> <%= dbData.orderDetails.Items[0].attributes.bpModelNo %></td>
                            </tr>
                            <% if(dbData.orderDetails.Items[0].attributes.scaleModelNo) { %>
                            <tr>
                                <td> </td>
                                <td>Weight</td>
                                <td> <%= dbData.orderDetails.Items[0].attributes.scaleModelNo %></td>
                            </tr>
                            <% } %>
                            <%} else if(dbData.patientDetails.Items[0].attributes.icdCode && dbData.patientDetails.Items[0].attributes.icdCode.length && dbData.patientDetails.Items[0].attributes.icdCode.length > 1){ %>
                            <% dbData.patientDetails.Items[0].attributes.icdCode.forEach((data, index) => { %>
                            <tr>
                                <td><%= data.code %>, <%= data.description %></td>
                                <% if(index === 0) { %>
                                <td>Blood Pressure</td>
                                <td> <%= dbData.orderDetails.Items[0].attributes.bpModelNo %></td>
                                <% } %>
                                <% if(index === 1 && dbData.orderDetails.Items[0].attributes.scaleModelNo) { %>
                                <td>Weight</td>
                                <td><%= dbData.orderDetails.Items[0].attributes.scaleModelNo %></td>
                                <% } %>
                            </tr>
                            <% }) %>
                            <% } else { %>
                                <tr>
                                    <td></td>
                                    <td>Blood Pressure</td>
                                    <td> <%= dbData.orderDetails.Items[0].attributes.bpModelNo %></td>
                                </tr>                                
                                <% if(dbData.orderDetails.Items[0].attributes.scaleModelNo) { %>
                                    <tr>
                                    <td></td>
                                    <td>Weight</td>
                                    <td><%= dbData.orderDetails.Items[0].attributes.scaleModelNo %></td>
                                    </tr>                                    
                                    <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <% } i++; %>
                <div class="month"><%= dbData.patientsReadings[readingKey].key %></div>
                <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel">Alert-thresholds and alert history</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr colspan="3">
                                <td class="bold">Alert Parameters</td>
                            </tr>
                            <tr>
                                <td class="bold">BLOOD PRESSURE</td>
                                <td class="bold">Threshold(SYS)</td>
                                <td class="bold">Threshold(DIA)</td>
                            </tr>
                            <tr colspan="3">
                                <td class="bold">Current:</td>
                            </tr>
                            <tr>
                                <td>Single Reading Alert:</td>
                                <% if(dbData.patientDetails.Items[0].attributes.threshold.sysLow && dbData.patientDetails.Items[0].attributes.threshold.sysHigh) { %>   
                                    <td><%= dbData.patientDetails.Items[0].attributes.threshold.sysLow %>mmHg &gt; SYS &lt;
                                        <%= dbData.patientDetails.Items[0].attributes.threshold.sysHigh %>mmHg</td>
                                <% } else { %>
                                    <td>No threshold has been set</td>
                                <% } %>
                                <% if(dbData.patientDetails.Items[0].attributes.threshold.diaLow && dbData.patientDetails.Items[0].attributes.threshold.diaHigh) { %>   
                                    <td><%= dbData.patientDetails.Items[0].attributes.threshold.diaLow %>mmHg &gt; DIA &lt;
                                        <%= dbData.patientDetails.Items[0].attributes.threshold.diaHigh %>mmHg</td>
                                <% } else { %>
                                    <td>No threshold has been set</td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>10-Readings Average Alert:</td>
                                <% if(dbData.patientDetails.Items[0].attributes.threshold.sysLowAverage && dbData.patientDetails.Items[0].attributes.threshold.sysHighAverage) { %>   
                                    <td><%= dbData.patientDetails.Items[0].attributes.threshold.sysLowAverage %>mmHg &gt;
                                        SYS &lt; <%=dbData.patientDetails.Items[0].attributes.threshold.sysHighAverage %>
                                        mmHg</td>
                                <% } else { %>
                                    <td>No threshold has been set</td>
                                <% } %>
                                <% if(dbData.patientDetails.Items[0].attributes.threshold.diaLowAverage && dbData.patientDetails.Items[0].attributes.threshold.diaHighAverage) { %>   
                                    <td><%= dbData.patientDetails.Items[0].attributes.threshold.diaLowAverage %>mmHg &gt;
                                        DIA &lt; <%= dbData.patientDetails.Items[0].attributes.threshold.diaHighAverage %>
                                        mmHg</td>
                                <% } else { %>
                                    <td>No threshold has been set</td>
                                <% } %>
                            </tr>
                            <tr>
                                <td>7-Day Average Alert:</td>
                                <% if(dbData.patientDetails.Items[0].attributes.threshold.sysLowAverage && dbData.patientDetails.Items[0].attributes.threshold.sysHighAverage) { %>   
                                    <td><%= dbData.patientDetails.Items[0].attributes.threshold.sysLowAverage %>mmHg &gt;
                                        SYS &lt; <%=dbData.patientDetails.Items[0].attributes.threshold.sysHighAverage %>
                                        mmHg</td>
                                <% } else { %>
                                    <td>No threshold has been set</td>
                                <% } %>
                                <% if(dbData.patientDetails.Items[0].attributes.threshold.diaLowAverage && dbData.patientDetails.Items[0].attributes.threshold.diaHighAverage) { %>   
                                    <td><%= dbData.patientDetails.Items[0].attributes.threshold.diaLowAverage %>mmHg &gt;
                                        DIA &lt; <%= dbData.patientDetails.Items[0].attributes.threshold.diaHighAverage %>
                                        mmHg</td>
                                <% } else { %>
                                    <td>No threshold has been set</td>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                    <hr class="border-top">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="bold w-10">WEIGHT</td>
                            <td class="bold w-30"></td>
                            <td class="bold">Range</td>
                        </tr>
                        <tr>
                            <td>Current:</td>
                            <td>24-Hours Weight Change</td>
                                <% if(dbData.patientDetails.Items[0].attributes.threshold.weight24hr && dbData.patientDetails.Items[0].attributes.thresholdWeightUnit) { %>   
                                    <td>+<%= dbData.patientDetails.Items[0].attributes.threshold.weight24hr %>
                                        <%= dbData.patientDetails.Items[0].attributes.thresholdWeightUnit %></td>
                                <% } else { %>
                                    <td>No threshold has been set</td>
                                <% } %>
                        </tr>
                        <tr>
                            <td class="bold"></td>
                            <td>72-Hour Weight Change</td>
                                <% if(dbData.patientDetails.Items[0].attributes.threshold.weight72hr && dbData.patientDetails.Items[0].attributes.thresholdWeightUnit) { %>   
                                    <td>+<%= dbData.patientDetails.Items[0].attributes.threshold.weight72hr %>
                                        <%= dbData.patientDetails.Items[0].attributes.thresholdWeightUnit %></td>
                                <% } else { %>
                                    <td>No threshold has been set</td>
                                <% } %>
                        </tr>
                        </tbody>
                    </table>
                    <hr class="border-top">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <th class="th-titel">Alerts Triggered</th>
                            <th class="th-titel"></th>
                            <th class="th-titel"></th>
                            <th class="th-titel"></th>
                        </tr>
                        <% if(dbData.patientsReadings[readingKey].bpAlert.length || dbData.patientsReadings[readingKey].weightAlert.length) { %>
                        <% dbData.patientsReadings[readingKey].bpAlert.forEach((alert) => { %>
                            <tr>
                                <td class="bold w-30 border-td-top">Vital:</td>
                                <td class="bold w-20 border-td-top">Date</td>
                                <td class="bold w-30 border-td-top">Triggering Value:</td>
                                <td class="bold w-10 border-td-top">Resolved:</td>
                            </tr>
                        <tr>
                            <td class= "border-bottom">Blood Pressure <%= alert.attributes.averageType %> <%= alert.attributes.alertType %></td>
                            <td class= "border-bottom"><%= alert.measurementDateFormat %></td>
                            <td class= "border-bottom"><%= Math.round(alert.attributes.systolic) %>&#47;<%= Math.round(alert.attributes.diastolic) %>
                                <%= alert.attributes.systolicUnit %></td>
                            <td class= "border-bottom">
                                <% if(alert.alerts.bp.resolveStatus === '1') { %>   
                                    <%= alert.resolvedDateFormat %>
                                <% } %>
                            </td>
                        </tr>
                        <tr>

                            <td class= "border-bottom"colspan="4">
                                <table cellspacing="0" cellpadding="0">
                                    <% if(alert.alerts.bp.resolveStatus === '1' && alert.alerts.bp.Notes && alert.updates && alert.updates.length) { %>
                                    <tr>
                                        <td class="bold" style= "width:70%">Note: (<%= alert.resolvedDateFormat %>)</td>
                                        <td class="bold border-left" style= "width:30%">Recorded by:</td>
                                    </tr>
                                    <tr>
                                        <td style= "width:70%"><%= alert.alerts.bp.Notes %></td>
                                        <td class="border-left" style= "width:30%"><%= alert.updates[alert.updates.length -1].updatedBy %></td>
                                    </tr>
                                    <% } %>
                                </table>
                            </td>
                        </tr>
                        <% }) %>
                    </table>
                    
                    <table cellspacing="0" cellpadding="0">
                        <% dbData.patientsReadings[readingKey].weightAlert.forEach(alert => { %>
                        <% if(alert.alerts.weight && alert.alerts.weight.thresholdType72hr) { %>
                            <tr>
                                <td class="bold w-30 border-td-top">Vital:</td>
                                <td class="bold w-20 border-td-top">Date</td>
                                <td class="bold w-30 border-td-top">Triggering Value:</td>
                                <td class="bold w-10 border-td-top">Resolved:</td>
                            </tr>
                        <tr>
                            <td class= "border-bottom">Weight 72 hr</td>
                            <td class= "border-bottom"><%= alert.measurementDateFormat %></td>
                            <td class= "border-bottom">+<%= parseFloat(alert.alerts.weight.weightDiff72hr).toFixed(1) %> <%= alert.alerts.thresholdWeightUnit %>
                            </td>
                            <td class= "border-bottom">
                                <% if(alert.alerts.weight.resolveStatus === '1') { %>   
                                    <%= alert.resolvedDateFormat %>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                        <% if(alert.alerts.weight && alert.alerts.weight.thresholdType24hr) { %>
                            <tr>
                                <td class="bold w-30 border-td-top">Vital:</td>
                                <td class="bold w-20 border-td-top">Date</td>
                                <td class="bold w-30 border-td-top">Triggering Value:</td>
                                <td class="bold w-10 border-td-top">Resolved:</td>
                            </tr>
                        <tr>
                            <td class= "border-bottom">Weight 24 hr</td>
                            <td class= "border-bottom"><%= alert.measurementDateFormat %></td>
                            <td class= "border-bottom">+<%= parseFloat(alert.alerts.weight.weightDiff24hr).toFixed(1) %> <%= alert.alerts.thresholdWeightUnit %>
                            </td>
                            <td class= "border-bottom">
                                <% if(alert.alerts.weight.resolveStatus === '1') { %>   
                                    <%= alert.resolvedDateFormat %>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                        <% if(alert.alerts.weight.resolveStatus === '1' && alert.alerts.weight.Notes && alert.updates && alert.updates.length) { %>
                        <tr>
                            <td class= "border-bottom"colspan="4">
                                <table cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="bold" style= "width:70%">Note: (<%= alert.resolvedDateFormat %>)</td>
                                            <td class="bold border-left" style= "width:30%">Recorded by:</td>
                                        </tr>
                                        <tr>
                                            <td style= "width:70%"><%= alert.alerts.weight.Notes %></td>
                                            <td class="border-left" style= "width:30%"><%= alert.updates[alert.updates.length -1].updatedBy %></td>
                                        </tr>
                                </table>
                            </td>
                        </tr>
                        <% } %>
                        <% }) %>
                    </table>
                    <% } else { %>
                        <tr colspan="3">
                            <td> <%= CONSTANTS.NO_RECORD_FOUND %> </td>
                        </tr>
                    </table>
                <% } %>
                </div>

            </main>
            
        </div>
    </div>
    <!-- page-3 -->
    <% if(dbData.patientsReadings[readingKey].bp.length) { %>
    <div style='page-break-before: always;'></div>
    <div class="wrapper" >
        <div class="inner inner-2"  >
            <header class="clearfix">
                <div id="title">
                    <h2 class="name">Remote Patient Monitoring Patient Summary Report</h2>
                </div>

            </header>
            <main>
                <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel">Vitals Recorded</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr colspan="3">
                                <td class="bold">Blood Pressure</td>
                            </tr>

                        </tbody>

                    </table>
                    <div class="chart"> <img src="data:image/png;base64, <%= dbData.patientsReadings[readingKey].bpChart %>" width="100%" /> </div>
                    <table cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="bold">Date-Time:</td>
                                <td class="bold">(SBP/DBP) mmHg:</td>
                                <td class="bold">Pulse:</td>
                                <td class="bold">IHB:</td>
                                <td class="bold">Movement:</td>
                                <td class="bold">Alert</td>
                            </tr>
                            <% if(dbData.patientsReadings[readingKey].bp.length) { %>
                            <% dbData.patientsReadings[readingKey].bp.forEach(reading => { %>
                            <tr>
                                <td class= "border-bottom"><%= reading.measurementDateFormat %></td>
                                <td class= "border-bottom"><%= reading.attributes.systolic %>&#47;<%= reading.attributes.diastolic %></td>
                                <td class= "border-bottom"><%= reading.attributes.pulse %></td>
                                <td class= "border-bottom"><%= reading.attributes.irregularHB ? 'YES' : 'NO' %></td>
                                <td class= "border-bottom"><%= reading.attributes.movementError ? 'YES' : 'NO' %></td>
                                <td class= "border-bottom"><%= reading.attributes.haveAlert ? 'YES' : 'NO' %></td>
                            </tr>
                            <% }) %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </main>
            
        </div>
    </div>
    <% } else{ %>
        <div style='page-break-before: always;'></div>
        <div class="wrapper">
            <div class="inner"  >
                <header class="clearfix">
                    <div id="title">
                        <h2 class="name">Remote Patient Monitoring Patient Summary Report</h2>
                    </div>
    
                </header>
                <main>
                    <div class="month"><%= dbData.patientsReadings[readingKey].key %></div>
                    <div class="border-r">
                        <table cellspacing="0" cellpadding="0">
                            <thead>
                                <tr colspan="3">
                                    <th class="th-titel">Vitals Recorded</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr colspan="3">
                                    <td class="bold">Blood Pressure</td>
                                </tr>
                                <tr colspan="3">
                                    <td> <%= CONSTANTS.NO_RECORD_FOUND %> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
    <% } %>
    <!-- page-4 -->
    <% if(dbData.patientsReadings[readingKey].weight.length || dbData.patientsReadings[readingKey].notes.length) { %>
    <div style='page-break-before: always;'></div>
    <div class="wrapper" >
        <div class="inner inner-2" >
            <header class="clearfix">
                <div id="title">
                    <h2 class="name">Remote Patient Monitoring Patient Summary Report</h2>
                </div>

            </header>
            <main>
                <% if(dbData.patientsReadings[readingKey].weight.length) { %>
                <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel">Vitals Recorded</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr colspan="3">
                                <td class="bold">Weight</td>
                            </tr>

                        </tbody>

                    </table>
                    <div class="chart"><img src="data:image/png;base64, <%= dbData.patientsReadings[readingKey].weightChart %>" width="100%" /></div>
                    <table cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="bold">Date-Time:</td>
                                <td class="bold">Lbs:</td>
                                <td class="bold">24-Hr Change:</td>
                                <td class="bold">72-Hr Change:</td>
                                <td class="bold">Alert</td>
                            </tr>
                            <% dbData.patientsReadings[readingKey].weight.forEach(reading => { %>
                            <tr>
                                <td class= "border-bottom"><%= reading.measurementDateFormat %></td>
                                <td class= "border-bottom"><%= parseFloat(reading.attributes.weightLBS).toFixed(1) %></td>
                                <td class= "border-bottom"><%= reading.alerts && reading.alerts.weight && reading.alerts.weight.weightDiff24hr ? '+' + parseFloat(reading.alerts.weight.weightDiff24hr).toFixed(1) : '---' %></td>
                                <td class= "border-bottom"><%= reading.alerts && reading.alerts.weight && reading.alerts.weight.weightDiff72hr ? '+' + parseFloat(reading.alerts.weight.weightDiff72hr).toFixed(1) : '---' %></td>
                                <td class= "border-bottom"><%= reading.attributes.haveAlert ? 'YES' : 'NO' %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <% } %>
                <% if(dbData.patientsReadings[readingKey].notes.length) { %>
                <div class="month text-left p-0 bold">Review Notes</div>
                <hr class="border-d">
                <% dbData.patientsReadings[readingKey].notes.forEach(note => { %>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="bold" style= "width:70%">Note: (<%= note.startDate %>)</td>
                        <td class="bold border-left" style= "width:30%">Recorded by:</td>
                    </tr>
                    <tr>
                        <td style= "width:70%"><%= note.notes %></td>
                        <td class="border-left" style= "width:30%"><%= note.updates[note.updates.length -1].updatedBy %></td>
                    </tr>
                </table>
                <hr class="border-d">
                <% }) %>
                <% } %>
            </main>
            
        </div>
    </div>
    <% } else{ %>
        <div style='page-break-before: always;'></div>
        <div class="wrapper">
            <div class="inner"  >
                <header class="clearfix">
                    <div id="title">
                        <h2 class="name">Remote Patient Monitoring Patient Summary Report</h2>
                    </div>
    
                </header>
                <main>
                    <div class="month"><%= dbData.patientsReadings[readingKey].key %></div>
                    <div class="border-r">
                        <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel">Vitals Recorded</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr colspan="3">
                                <td class="bold">Weight</td>
                            </tr>
                            <tr colspan="3">
                                <td> <%= CONSTANTS.NO_RECORD_FOUND %> </td>
                            </tr>
                        </tbody>

                    </table>
                    </div>
                </main>
            </div>
        </div>
    <% } %>
    <!-- page-5 -->
    <% if(dbData.patientsReadings[readingKey].groupconsultationData.length || dbData.patientsReadings[readingKey].group99453Data.length || dbData.patientsReadings[readingKey].groupFinanceData.length || dbData.patientsReadings[readingKey].group99457Data.length || dbData.patientsReadings[readingKey].group99458Data.length) { %>
    <div style='page-break-before: always;'></div>
    <div class="wrapper">
        <div class="inner inner-2" >
            <header class="clearfix">
                <div id="title">
                    <h2 class="name">Remote Patient Monitoring Patient Summary Report</h2>
                </div>

            </header>
            <main >
                <% if(dbData.patientsReadings[readingKey].groupconsultationData.length) { %>
                <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel">RPM - CLINICAL TIME RECORDED:</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold"><%= dbData.patientsReadings[readingKey].key %>:</td>
                                <td class="bold"></td>
                                <td class="bold"></td>
                                <td class="bold" colspan="2">Total Time Recorded: <%= dbData.patientsReadings[readingKey].totalTime %></td>
                            </tr>
                            <tr>
                                <td class="bold">Reason:</td>
                                <td class="bold w-20">Performed By:</td>
                                <td class="bold w-30">Date:</td>
                                <td class="bold">Time</td>
                                <td class="bold">Auto/Manual:</td>
                            </tr>
                            <% dbData.patientsReadings[readingKey].groupconsultationData.forEach(reading => { %>
                            <tr>
                                <td class= "border-bottom"><%= reading.reason ? reading.reason : CONSTANTS.REVIEW_PATIENT_DATA %></td>
                                <td class= "border-bottom"><%= (reading.updates && reading.updates.length) ? reading.updates[reading.updates.length -1].updatedBy : dbData.doctorProfile.name  %></td>
                                <td class= "border-bottom"><%= reading.startTime %></td>
                                <td class= "border-bottom"><%= reading.consultationTime %></td>
                                <td class= "border-bottom"><%= reading.isManual ? 'Manual' : 'Auto' %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <% } %>
                <% if(dbData.patientsReadings[readingKey].group99453Data.length || dbData.patientsReadings[readingKey].groupFinanceData.length || dbData.patientsReadings[readingKey].group99457Data.length || dbData.patientsReadings[readingKey].group99458Data.length) { %>
                <div class="month">CPT Codes Recorded</div>
                <% if(dbData.patientsReadings[readingKey].group99453Data.length) { %>
                <% dbData.patientsReadings[readingKey].group99453Data.forEach(reading => { %>
                <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel"><span class="code">CODE</span>99453</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold">Date of Service:</td>
                            </tr>
                            <tr>
                                <td><%= reading.dateOfServiceFormat %></td>
                            </tr>



                        </tbody>
                    </table>
                </div>
                <% }) %>
                <% } %>
                <% if(dbData.patientsReadings[readingKey].groupFinanceData.length) { %>
                <% dbData.patientsReadings[readingKey].groupFinanceData.forEach(reading => { %>
                <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel"><span class="code">CODE</span>99454</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold">Date of Service:</td>
                            </tr>
                            <tr>
                                <td><%= reading.dateOfServiceFormat %></td>
                            </tr>



                        </tbody>
                    </table>
                </div>
                <% }) %>
                <% } %>
                <% if(dbData.patientsReadings[readingKey].group99457Data.length) { %>
                <% dbData.patientsReadings[readingKey].group99457Data.forEach(reading => { %>
                <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel"><span class="code">CODE</span>99457</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold">Total clocked time:</td>
                                <td class="bold">Date 20 mins reached</td>
                            </tr>
                            <tr>
                                <td>00:20:00</td>
                                <td><%= `${new Date(reading.attributes.transaction.dateOfService).getMonth() + 1 }/${new Date(reading.attributes.transaction.dateOfService).getUTCDate()}/${new Date(reading.attributes.transaction.dateOfService).getFullYear()}` %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% }) %>
                <% } %>
                <% if(dbData.patientsReadings[readingKey].group99458Data.length) { %>
                <% dbData.patientsReadings[readingKey].group99458Data.forEach(reading => { %>
                <div class="border-r">
                    <table cellspacing="0" cellpadding="0">
                        <thead>
                            <tr colspan="3">
                                <th class="th-titel"><span class="code">CODE</span>99458</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bold">Total clocked time:</td>
                                <td class="bold">Date 20 mins reached</td>
                            </tr>
                            <tr>
                                <td>00:20:00</td>
                                <td><%= `${new Date(reading.attributes.transaction.dateOfService).getMonth() + 1 }/${new Date(reading.attributes.transaction.dateOfService).getUTCDate()}/${new Date(reading.attributes.transaction.dateOfService).getFullYear()}` %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% }) %>
                <% } %>
                <% } %>
            </main>
            
        </div>
    </div>
    <div style='page-break-before: always;'></div>
    <% } else{ %>
        <div style='page-break-before: always;'></div>
        <div class="wrapper">
            <div class="inner"  >
                <header class="clearfix">
                    <div id="title">
                        <h2 class="name">Remote Patient Monitoring Patient Summary Report</h2>
                    </div>
    
                </header>
                <main>
                    <div class="month"><%= dbData.patientsReadings[readingKey].key %></div>
                    <div class="border-r">
                            <table cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr colspan="3">
                                        <th class="th-titel">RPM - CLINICAL TIME RECORDED:</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr colspan="3">
                                        <td> <%= CONSTANTS.NO_RECORD_FOUND %> </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </main>
        </div>
    <% } %>
    <% } else{ %>
        <div style='page-break-before: always;'></div>
        <div class="wrapper">
            <div class="inner"  >
                <header class="clearfix">
                    <div id="title">
                        <h2 class="name">Remote Patient Monitoring Patient Summary Report</h2>
                    </div>
    
                </header>
                <main>
                    <% if(i === 1) { %>
                        <div id="details" class="clearfix">
                            <div id="patient">
                                <h2 class="name bold"><%= dbData.patientDetails.Items[0].attributes.firstName.toUpperCase() %>
                                    <%= dbData.patientDetails.Items[0].attributes.lastName.toUpperCase() %></h2>
                                <div class="dob">DOB: <%= dbData.patientDetails.Items[0].attributes.dob %></div>
                                <div class="gender">Gender: <%= dbData.patientDetails.Items[0].attributes.gender %></div>
                                <div class="enroll-date">Enrollment Date: <%= dbData.patientDetails.Items[0].createdDate %>
                                </div>
                            </div>
                            <div id="center">
                                <h2 class="name bold"><%= dbData.doctorProfile.hospital %></h2>
                                <div class="d-name">Dr. <%= dbData.doctorProfile.name %>,
                                    <%= dbData.doctorProfile.qualification %></div>
                                <div class="d-phone"><%= dbData.doctorProfile.phoneNumber %></div>
                            </div>
                        </div>
                        <div class="border-r">
                            <table cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr colspan="3">
                                        <th class="th-titel">Monitoring Activities</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="bold">Condition(s) Being Monitored:</td>
                                        <td class="bold">Vital(s):</td>
                                        <td class="bold">Device(s):</td>
                                    </tr>
                                    <tr>
                                        <td class="bold">Measurements:</td>
                                        <td class="bold"></td>
                                        <td class="bold"></td>
                                    </tr>
                                    <% if(dbData.patientDetails.Items[0].attributes.icdCode && dbData.patientDetails.Items[0].attributes.icdCode.length && dbData.patientDetails.Items[0].attributes.icdCode.length < 2) { %>
                                    <tr>
                                        <td><%= dbData.patientDetails.Items[0].attributes.icdCode[0].code %>,
                                            <%= dbData.patientDetails.Items[0].attributes.icdCode[0].description %></td>
                                        <td>Blood Pressure</td>
                                        <td> <%= dbData.orderDetails.Items[0].attributes.bpModelNo %></td>
                                    </tr>
                                    <% if(dbData.orderDetails.Items[0].attributes.scaleModelNo) { %>
                                    <tr>
                                        <td> </td>
                                        <td>Weight</td>
                                        <td> <%= dbData.orderDetails.Items[0].attributes.scaleModelNo %></td>
                                    </tr>
                                    <% } %>
                                    <%} else if(dbData.patientDetails.Items[0].attributes.icdCode && dbData.patientDetails.Items[0].attributes.icdCode.length && dbData.patientDetails.Items[0].attributes.icdCode.length > 1){ %>
                                    <% dbData.patientDetails.Items[0].attributes.icdCode.forEach((data, index) => { %>
                                    <tr>
                                        <td><%= data.code %>, <%= data.description %></td>
                                        <% if(index === 0) { %>
                                        <td>Blood Pressure</td>
                                        <td> <%= dbData.orderDetails.Items[0].attributes.bpModelNo %></td>
                                        <% } %>
                                        <% if(index === 1 && dbData.orderDetails.Items[0].attributes.scaleModelNo) { %>
                                        <td>Weight</td>
                                        <td><%= dbData.orderDetails.Items[0].attributes.scaleModelNo %></td>
                                        <% } %>
                                    </tr>
                                    <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td></td>
                                            <td>Blood Pressure</td>
                                            <td> <%= dbData.orderDetails.Items[0].attributes.bpModelNo %></td>
                                        </tr>                                
                                        <% if(dbData.orderDetails.Items[0].attributes.scaleModelNo) { %>
                                            <tr>
                                            <td></td>
                                            <td>Weight</td>
                                            <td><%= dbData.orderDetails.Items[0].attributes.scaleModelNo %></td>
                                            </tr>                                    
                                            <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <% } i++; %>
                    <div class="month"><%= dbData.patientsReadings[readingKey].key %></div>
                    <div class="border-b">
                        <p class="no-records">There are no records to display for this month</p>
                    </div>
                </main>
            </div>
        </div>
    <% } %>
    <% } %>
</body>

</html>