<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"
        integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
        crossorigin="anonymous" />
</head>
<style>
   .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    body {
        position: relative;
        margin: 0 auto;
        color: #333333;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;

    }


    .inner {
        background: #ffffff;
        position: relative;
        border-radius: 20px;
        padding: 20px;
        margin: 0px 20px;
        /* height: 40cm; */
    }

    /* .inner-2 {
        height: 100% !important;
    } */

    header {
        padding: 10px 0;
        margin-bottom: 20px;

    }

    #title h2 {
        text-align: center;
        font-size: 32px;
        font-weight: 800;
        padding: 0px 30px;
        max-width: 600px;
        margin: 0px auto;
    }

    .bold {
        font-weight: 700 !important;
    }

    #details {
        margin-bottom: 50px;
    }

    #patient {
        float: left;
    }

    .dob {
        margin-bottom: 5px;
    }

    .gender {
        margin-bottom: 5px;
    }

    .enroll-date {
        margin-bottom: 5px;
    }

    h2.name {
        font-size: 1.4em;
        font-weight: normal;
        margin: 0 0px 10px;
    }

    #center {
        float: right;
        text-align: left;
    }

    .d-name,
    .d-phone {
        margin-bottom: 5px;
    }

    .border-r {
        background-color: #f2f9ff;
        border-radius: 20px;
        padding: 10px 20px;
        margin-bottom: 20px;
        border: 2px solid #dfecfd;
    }

    .month {
        text-transform: uppercase;
        font-weight: 500;
        color: #0087C3;
        padding-bottom: 15px;
        text-align: center;
        font-size: 18px;
        margin: 10px 0px;
    }

    .border-b {
        border-radius: 20px;
        padding: 10px 20px;
        margin-bottom: 20px;
        border: 2px solid #dfecfd;
    }

    .no-records {
        font-weight: 600;
        color: #333;
        text-align: center;
        font-size: 18px;
    }

    .border-top {
        border-top: 2px solid #dfecfd !important;
        margin: 14px 0px 0px;
        padding-top: 15px;
        border: 0px;
    }

    .border-left {
        border-left: 2px solid #dfecfd;
        padding-left: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

    }

    th.th-titel {
        text-transform: uppercase;
        font-weight: 600;
        color: #0087C3;
        padding-bottom: 15px;
        text-align: left;
    }

    .w-60 {
        width: 60%;
    }

    .w-40 {
        width: 40%;
    }

    .w-30 {
        width: 30%;
    }

    .w-10 {
        width: 10%;
    }

    .w-20 {
        width: 20%;
    }

    thead {
        border-bottom: 2px dashed #dfecfd;
    }

    table th,
    table td {
        padding: 4px 0px;
    }

    table th {
        white-space: nowrap;
        font-weight: normal;
    }

    table td {
        text-align: left;
        padding: 8px 0px;
        white-space: nowrap;
    }

    .f-name {
        padding-right: 6px;

    }

    .f-report {
        padding-right: 6px;

    }

    footer {
        color: #333333;
        border-top: 2px solid #dfecfd;
        padding: 0px 20px 0px;
        text-align: center;
        margin-top: 18px;
        /* position: absolute;
        bottom: 28px;
        width: 95%; */
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .float-r {
        float: right;
    }

    span.code {
        background: #0087C3;
        color: #fff;
        padding: 4px 10px;
        margin-right: 10px;
        border-radius: 9px;
    }

    table tr:last-child td {
        padding-bottom: 0px;
    }

    .bgimg-1 {
        background: #0087C3 url(https://dev-vitalsight-common-website.s3-us-west-2.amazonaws.com/share-report-images/bg.jpg);
        height: 100%;
    }

    .bgimg-1 {
        position: relative;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bgimg-1 .inner {
        background: transparent;
        margin: 0px !important;
        padding: 0px !important;
    }


    .bgimg-1 h2 {
        text-align: center;
        font-size: 50px !important;
        font-weight: 800;
        padding: 0px 30px;
        max-width: 650px !important;
        margin: 0px auto;
        color: #ffffff;
    }

    .bgimg-1 main {
        padding-top: 370px;
    }

    .bgimg-1 .month {
        text-transform: uppercase;
        font-weight: 500;
        color: #a4e3ff !important;
        padding-bottom: 15px;
        text-align: center;
        font-size: 30px !important;
        margin: 20px 0px 0px !important;
    }

    .bgimg-1 .inner {
        height: 44.5cm !important;
        margin: 0px !important;
    }

    .chart {
        background-color: #ffffff;
        margin: 10px 0px;
        text-align: center;
        padding: 10px;
    }
    #pageHeader-first {
        height: 0px !important;
        width: 0px !important;
        margin: 0px !important;
        padding: 0px !important;
        display: none !important;
    }
    #pageFooter-first {
        height: 0px !important;
        width: 0px !important;
        margin: 0px !important;
        padding: 0px !important;
        display: none;
    }
    .test {
        height: 0px !important;
        width: 0px !important;
        margin: 0px !important;
        padding: 0px !important;
        display: none;
    }

</style>

<body>
    <div id="pageHeader-first" class= "test"></div>
    <div class="bgimg-1" style= "margin: 0px; padding: 0px;">
        <div class="wrapper" style= "margin: 0px; padding: 0px;">
            <div class="inner ">
                <main>
                    <div id="title">
                        <h2 class="name">Remote Patient Monitoring Patient Summary Report</h2>
                    </div>
                    <div class="month"><%= reportPeriod %></div>
                </main>

            </div>
        </div>
    </div>
    <div id="pageFooter-first"></div>
</body>

</html>